h1 {
    text-align: center;
}

body {
    font-family: sans-serif;
}
.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section {
    padding:20px;
}

label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#idColorBox {
	  width: 200px;
	  height: 200px;
	  border: black solid medium;
	  text-align: center;
	  padding: 0.25em;
}

#idColorInfo {
	  padding-top: 5px;
}

.red-slider .rail{
    background-color: orange;
    border: 1px solid red;
}

.red-slider .thumb {
    border: 1px solid red;
    /* border-top-color:  darkred; */
    /* border-left-color: darkred; */
    background-color: orangered;

}

.red-slider .rail.focus {
    background-color: red;
}

.green-slider .rail{
    background-color: lawngreen;
    border: 1px solid green;
}

.green-slider .rail.focus {
    background-color: green;
}

.blue-slider .rail{
    background-color: lightblue;
    border: 1px solid blue;
}

.blue-slider .rail.focus {
    background-color: blue;
}
