<div class="rail {{focusClass}}">
  {{aria-slider-thumb
    minValue=minValue
    maxValue=maxValue
    labelledBy=labelledBy
    currentValue=currentValue
  }}
  <div class="value">{{currentValue}}</div>
</div>
